/**
 * DWTWL 2.55 license: https://soundragon.su/license/license.html
 */

body {
  background: #2e3235;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #c0c3c5;
}

a:link {color: #7bc495;}
a:visited {color: #93b375;}
a:hover {color: #9fbc85;}

.container {
  width: 95%;
  margin: auto;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.0rem;
}

hr {
  border-width: 0;
  border-top: 1px solid #93b775;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  border: 0;
}

.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 0 20px;
  color: #888885;
  text-align: center;
  font-weight: 800;
  line-height: 28px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #777775;
  cursor: pointer;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  color: #999775;
  border-color: #999885;
  outline: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 3px 5px;
  background: #374045;
  color: #c0c3c5;
  border: 1px solid #656565;
  border-radius: 6px;
  box-shadow: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #889985;
  outline: 0;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  padding: .2rem .2rem;
  font-size: 80%;
  background: #384135;
  color: #a5a8b5;
  white-space: pre;
  border: 1px solid #585855;
  border-radius: 6px;
}

ul {
  list-style: circle;
}

ol,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}

button,
.button,
input,
textarea,
select,
fieldset {
  margin-bottom: .1rem;
}

th.even, td.even {
  background: #253335;
}

tr.odd {
  background: #232731;
}

tr.even {
  background: #383c45;
}

tr.currentyear {
  background: #454a55;
  font-weight: bold;
}

table, th, td {
  border: 2px solid black;
  border-color: #666665;
  text-align: center;
  color: #a6aab5;
}
